<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INFO</title>
  <style>
     *{
        background-color: rgb(159, 245, 245);
      }

      h1{
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
      }
  </style>
</head>
<body>
  <h1>
    Total number of user we have : <%= count %>
  </h1>
  <h2>To know more about data click here</h2>
  <a href="http://localhost:8080/home/">KNOW MORE</a>
  <!-- <a href="http://localhost:8080/join/">JOIN NOW</a> -->
</body>
</html>